<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <httpRuntime targetFramework="4.0"/>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="ASPClassic" path="*.asp" verb="*" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" />
        </handlers>
        <asp enableParentPaths="true" scriptLanguage="VBScript">
            <sessionState allowSessionState="true" />
        </asp>
        
        <!-- URL Rewrite kuralları -->
        <rewrite>
            <rules>
                <!-- Ana sayfa -->
                <rule name="AnaSayfa" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="/index.html" />
                </rule>
                
                <!-- Admin panel -->
                <rule name="AdminPanel" stopProcessing="true">
                    <match url="^admin$" />
                    <action type="Rewrite" url="/admin/index.html" />
                </rule>
                
                <!-- Kategori sayfaları -->
                <rule name="KategoriSayfasi" stopProcessing="true">
                    <match url="^([^/]+)/?$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/products/kategori/index.html" />
                </rule>
                
                <!-- 404 hatası -->
                <rule name="404" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/404.html" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Varsayılan belgeler -->
        <defaultDocument>
            <files>
                <add value="index.html" />
                <add value="default.asp" />
            </files>
        </defaultDocument>
        
        <!-- Hata sayfaları -->
        <httpErrors errorMode="Custom">
            <remove statusCode="404" />
            <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
